[Unit]
Description=Walker Launcher Service
PartOf=graphical-session.target

[Service]
Environment=GSK_RENDERER=cairo
ExecStart=/usr/bin/walker --gapplication-service
Restart=on-failure
