[user]
	email = jonathan_rietveld@hotmail.com
	name = Encephala
	signingkey = /home/jonathan/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[core]
	pager = "command -v diff-so-fancy >/dev/null 2>&1 && diff-so-fancy | less --tabs=4 -RF || less"
[interactive]
	diffFilter = "dsf-filter"
[gpg]
	format = ssh
[commit]
	gpgsign = true
[rebase]
	autoSquash = true
	updateRefs = true
[rerere]
	enabled = true
